[Desktop Entry]
Charset=
Hidden=false
Keys=wynn,wynncraft
Name=Wynncraft Wiki
Query=https://wynncraft.wiki.gg/wiki/Special:Search?search=\\{@}
Type=Service
